In [13]:
import requests
import pandas as pd
import yfinance as yf
import datetime

In [14]:
def get_data(curr,name, per="5y", int="1d"):
    """
    Obtenemos el dataframe del historico 
    donde curr es el moneda en formato BTC-USD
    periodo por defecto definimos 5 años e intervalo de un dia
    """
    df= yf.Ticker(curr).history(period=per, interval=int)
    df = df.drop(columns=["Open", "High", "Low", "Dividends", "Stock Splits", "Volume"])
    df = df.rename(columns={"Close": name})
    
    return df
df_btc = get_data("BTC-USD","Bitcoin")
df_btc

                                Bitcoin
Date
2020-05-07 00:00:00+00:00   9951.518555
2020-05-08 00:00:00+00:00   9842.666016
2020-05-09 00:00:00+00:00   9593.896484
2020-05-10 00:00:00+00:00   8756.430664
2020-05-11 00:00:00+00:00   8601.795898
...                                 ...
2025-05-03 00:00:00+00:00  95891.796875
2025-05-04 00:00:00+00:00  94315.976562
2025-05-05 00:00:00+00:00  94748.054688
2025-05-06 00:00:00+00:00  96802.476562
2025-05-07 00:00:00+00:00  97232.062500

[1827 rows x 1 columns]

In [15]:
df_eth = get_data("ETH-USD","Ethereum")
df_eth
df_crypto = pd.merge(df_btc, df_eth, left_index=True, right_index=True)
df_crypto

                                Bitcoin     Ethereum
Date
2020-05-07 00:00:00+00:00   9951.518555   212.289413
2020-05-08 00:00:00+00:00   9842.666016   212.991577
2020-05-09 00:00:00+00:00   9593.896484   211.600128
2020-05-10 00:00:00+00:00   8756.430664   188.599564
2020-05-11 00:00:00+00:00   8601.795898   185.912842
...                                 ...          ...
2025-05-03 00:00:00+00:00  95891.796875  1833.839722
2025-05-04 00:00:00+00:00  94315.976562  1808.594238
2025-05-05 00:00:00+00:00  94748.054688  1819.697510
2025-05-06 00:00:00+00:00  96802.476562  1815.087524
2025-05-07 00:00:00+00:00  97232.062500  1803.244141

[1827 rows x 2 columns]

In [16]:
df_crypto = pd.merge(df_crypto,get_data("XRP-USD","XRP"), left_index=True, right_index=True)
df_crypto = pd.merge(df_crypto,get_data("BNB-USD","Binance"), left_index=True, right_index=True)
df_crypto = pd.merge(df_crypto,get_data("SOL-USD","Solana"), left_index=True, right_index=True)

df_crypto_meme = get_data("DOGE-USD","Dogecoin")
df_crypto_meme = pd.merge(df_crypto_meme,get_data("SHIB-USD","Shiba Inu"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("FLOKI-USD","Floki"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("TRUMP-USD","Oficial Trump"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("BONK-USD","Bonk"), left_index=True, right_index=True)

df_crypto_ia = get_data("TAO22974-USD","Bittensor")
df_crypto_ia = pd.merge(df_crypto_ia,get_data("NEAR-USD","Near Protocol"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("ICP-USD","Internet Computer"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("RENDER-USD","Render"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("FIL-USD","Filecoin"), left_index=True, right_index=True)
df_crypto

,Bitcoin,Ethereum,XRP,Binance,Solana
Date,,,,,
2020-05-07 00:00:00+00:00,9951.518555,212.289413,0.218917,17.013199,0.612978
2020-05-08 00:00:00+00:00,9842.666016,212.991577,0.219827,17.241476,0.604922
2020-05-09 00:00:00+00:00,9593.896484,211.600128,0.216902,16.935961,0.604527
2020-05-10 00:00:00+00:00,8756.430664,188.599564,0.198176,15.295669,0.537034
2020-05-11 00:00:00+00:00,8601.795898,185.912842,0.194064,15.097545,0.515273
...,...,...,...,...,...
2025-05-03 00:00:00+00:00,95891.796875,1833.839722,2.188367,599.331360,146.796051
2025-05-04 00:00:00+00:00,94315.976562,1808.594238,2.157795,585.995056,143.983063
2025-05-05 00:00:00+00:00,94748.054688,1819.697510,2.135609,597.689758,146.696640
2025-05-06 00:00:00+00:00,96802.476562,1815.087524,2.155430,602.473877,146.766403
2025-05-07 00:00:00+00:00,97232.062500,1803.244141,2.130939,600.620056,147.239075

In [17]:
df_crypto_ia.info()
df_crypto_meme.info()
df_crypto.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 795 entries, 2023-03-05 00:00:00+00:00 to 2025-05-07 00:00:00+00:00
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bittensor          795 non-null    float64
 1   Near Protocol      795 non-null    float64
 2   Internet Computer  795 non-null    float64
 3   Render             795 non-null    float64
 4   Filecoin           795 non-null    float64
dtypes: float64(5)
memory usage: 37.3 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 748 entries, 2023-04-21 00:00:00+00:00 to 2025-05-07 00:00:00+00:00
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dogecoin       748 non-null    float64
 1   Shiba Inu      748 non-null    float64
 2   Floki          748 non-null    float64
 3   Oficial Trump  748 non-null    float64
 4   Bonk           748 non-null    float64
dtypes: float64(5)
memory usage: 35.1 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1827 entries, 2020-05-07 00:00:00+00:00 to 2025-05-07 00:00:00+00:00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Bitcoin   1827 non-null   float64
 1   Ethereum  1827 non-null   float64
 2   XRP       1827 non-null   float64
 3   Binance   1827 non-null   float64
 4   Solana    1827 non-null   float64
dtypes: float64(5)
memory usage: 85.6 KB

In [18]:
df_fiat = get_data("EUR=X","Euro")
df_fiat

                              Euro
Date
2020-05-07 00:00:00+01:00  0.92605
2020-05-08 00:00:00+01:00  0.92275
2020-05-11 00:00:00+01:00  0.92255
2020-05-12 00:00:00+01:00  0.92512
2020-05-13 00:00:00+01:00  0.92193
...                            ...
2025-05-01 00:00:00+01:00  0.88301
2025-05-02 00:00:00+01:00  0.88523
2025-05-05 00:00:00+01:00  0.88314
2025-05-06 00:00:00+01:00  0.88391
2025-05-07 00:00:00+01:00  0.88380

[1302 rows x 1 columns]

In [19]:
df_fiat = pd.merge(df_fiat,get_data("GBP=X","Libra Esterlina"), left_index=True, right_index=True)
df_fiat = pd.merge(df_fiat,get_data("JPY=X","Yen Japones"), left_index=True, right_index=True)
df_fiat = pd.merge(df_fiat,get_data("CAD=X","Dolar Canadiense"), left_index=True, right_index=True)
df_fiat = pd.merge(df_fiat,get_data("AUD=X","Dolar Australiano"), left_index=True, right_index=True)
df_fiat

,Euro,Libra Esterlina,Yen Japones,Dolar Canadiense,Dolar Australiano
Date,,,,,
2020-05-07 00:00:00+01:00,0.92605,0.81132,106.191002,1.41629,1.564760
2020-05-08 00:00:00+01:00,0.92275,0.80802,106.359001,1.39695,1.537681
2020-05-11 00:00:00+01:00,0.92255,0.80532,106.918999,1.39241,1.529730
2020-05-12 00:00:00+01:00,0.92512,0.81080,107.566002,1.40180,1.542100
2020-05-13 00:00:00+01:00,0.92193,0.81600,107.138000,1.40809,1.549115
...,...,...,...,...,...
2025-05-01 00:00:00+01:00,0.88301,0.75053,143.009003,1.37896,1.559310
2025-05-02 00:00:00+01:00,0.88523,0.75265,145.447998,1.38465,1.565730
2025-05-05 00:00:00+01:00,0.88314,0.75347,144.623993,1.38223,1.551450
2025-05-06 00:00:00+01:00,0.88391,0.75230,143.654007,1.38219,1.547650
2025-05-07 00:00:00+01:00,0.88380,0.75217,143.755005,1.38375,1.555600

In [20]:
df_fiat.to_csv("fiat.csv", index=True)
df_crypto.to_csv("crypto.csv", index=True)
df_crypto_meme.to_csv("crypto_meme.csv", index=True)
df_crypto_ia.to_csv("crypto_ia.csv", index=True)