In [5]:
import requests
import pandas as pd
import yfinance as yf
import datetime

In [37]:
def get_data(curr,name, per="5y", int="1d"):
    """
    Obtenemos el dataframe del historico 
    donde curr es el moneda en formato BTC-USD
    periodo por defecto definimos 5 años e intervalo de un dia
    """
    df= yf.Ticker(curr).history(period=per, interval=int)
    df = df.drop(columns=["Open", "High", "Low", "Dividends", "Stock Splits", "Volume"])
    df = df.rename(columns={"Close": name})
    
    return df
df_btc = get_data("BTC-USD","Bitcoin")
df_btc

                                Bitcoin
Date
2020-05-06 00:00:00+00:00   9268.761719
2020-05-07 00:00:00+00:00   9951.518555
2020-05-08 00:00:00+00:00   9842.666016
2020-05-09 00:00:00+00:00   9593.896484
2020-05-10 00:00:00+00:00   8756.430664
...                                 ...
2025-05-01 00:00:00+00:00  96492.335938
2025-05-02 00:00:00+00:00  96910.070312
2025-05-03 00:00:00+00:00  95891.796875
2025-05-04 00:00:00+00:00  94315.976562
2025-05-06 00:00:00+00:00  94837.367188

[1826 rows x 1 columns]

In [38]:
df_eth = get_data("ETH-USD","Ethereum")
df_eth
df_crypto = pd.merge(df_btc, df_eth, left_index=True, right_index=True)
df_crypto

                                Bitcoin     Ethereum
Date
2020-05-06 00:00:00+00:00   9268.761719   204.055786
2020-05-07 00:00:00+00:00   9951.518555   212.289413
2020-05-08 00:00:00+00:00   9842.666016   212.991577
2020-05-09 00:00:00+00:00   9593.896484   211.600128
2020-05-10 00:00:00+00:00   8756.430664   188.599564
...                                 ...          ...
2025-05-01 00:00:00+00:00  96492.335938  1839.221558
2025-05-02 00:00:00+00:00  96910.070312  1842.707886
2025-05-03 00:00:00+00:00  95891.796875  1833.839722
2025-05-04 00:00:00+00:00  94315.976562  1808.594238
2025-05-06 00:00:00+00:00  94837.367188  1817.278442

[1826 rows x 2 columns]

In [39]:
df_crypto = pd.merge(df_crypto,get_data("XRP-USD","XRP"), left_index=True, right_index=True)
df_crypto = pd.merge(df_crypto,get_data("BNB-USD","Binance"), left_index=True, right_index=True)
df_crypto = pd.merge(df_crypto,get_data("SOL-USD","Solana"), left_index=True, right_index=True)

df_crypto_meme = get_data("DOGE-USD","Dogecoin")
df_crypto_meme = pd.merge(df_crypto_meme,get_data("SHIB-USD","Shiba Inu"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("PEPE-USD","Pepe"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("TRUMP-USD","Oficial Trump"), left_index=True, right_index=True)
df_crypto_meme = pd.merge(df_crypto_meme,get_data("BONK-USD","Bonk"), left_index=True, right_index=True)

df_crypto_ia = get_data("TAO22974-USD","Bittensor")
df_crypto_ia = pd.merge(df_crypto_ia,get_data("NEAR-USD","Near Protocol"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("ICP-USD","Internet Computer"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("RENDER-USD","Render"), left_index=True, right_index=True)
df_crypto_ia = pd.merge(df_crypto_ia,get_data("FIL-USD","Filecoin"), left_index=True, right_index=True)
df_crypto

,Bitcoin,Ethereum,XRP,Binance,Solana
Date,,,,,
2020-05-06 00:00:00+00:00,9268.761719,204.055786,0.215210,16.657045,0.622584
2020-05-07 00:00:00+00:00,9951.518555,212.289413,0.218917,17.013199,0.612978
2020-05-08 00:00:00+00:00,9842.666016,212.991577,0.219827,17.241476,0.604922
2020-05-09 00:00:00+00:00,9593.896484,211.600128,0.216902,16.935961,0.604527
2020-05-10 00:00:00+00:00,8756.430664,188.599564,0.198176,15.295669,0.537034
...,...,...,...,...,...
2025-05-01 00:00:00+00:00,96492.335938,1839.221558,2.214162,599.918213,150.846588
2025-05-02 00:00:00+00:00,96910.070312,1842.707886,2.209831,601.164185,148.050034
2025-05-03 00:00:00+00:00,95891.796875,1833.839722,2.188367,599.331360,146.796051
2025-05-04 00:00:00+00:00,94315.976562,1808.594238,2.157795,585.995056,143.983063
2025-05-06 00:00:00+00:00,94837.367188,1817.278442,2.132096,598.487366,146.143082

In [40]:
df_crypto_ia.info()
df_crypto_meme.info()
df_crypto.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 793 entries, 2023-03-05 00:00:00+00:00 to 2025-05-06 00:00:00+00:00
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bittensor          793 non-null    float64
 1   Near Protocol      793 non-null    float64
 2   Internet Computer  793 non-null    float64
 3   Render             793 non-null    float64
 4   Filecoin           793 non-null    float64
dtypes: float64(5)
memory usage: 37.2 KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dogecoin       0 non-null      float64
 1   Shiba Inu      0 non-null      float64
 2   Pepe           0 non-null      float64
 3   Oficial Trump  0 non-null      float64
 4   Bonk           0 non-null      float64
dtypes: float64(5)
memory usage: 0.0 bytes
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1826 entries, 2020-05-06 00:00:00+00:00 to 2025-05-06 00:00:00+00:00
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Bitcoin   1826 non-null   float64
 1   Ethereum  1826 non-null   float64
 2   XRP       1826 non-null   float64
 3   Binance   1826 non-null   float64
 4   Solana    1826 non-null   float64
dtypes: float64(5)
memory usage: 85.6 KB